<nav class="navbar navbar-expand navbar-dark" style="background-color: #990075;">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">Recipe Book</a> 
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive ="active border border-left-0 border-right-0 border-top-0 border-light">
                    <a class="nav-link" routerLink="/recipies">Recipies</a>
                </li>
                <li class="nav-item" routerLinkActive ="active border border-left-0 border-right-0 border-top-0 border-light">
                    <a class="nav-link"routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!authService.isAuth()" class="nav-item" routerLinkActive ="active border border-left-0 border-right-0 border-top-0 border-light">
                    <a class="nav-link"routerLink="/signin">Signin</a>
                </li>
                <li *ngIf="!authService.isAuth()" class="nav-item" routerLinkActive ="active border border-left-0 border-right-0 border-top-0 border-light">
                    <a class="nav-link"routerLink="/signup">Signup</a>
                </li>
                <li *ngIf="authService.isAuth()" class="nav-item" routerLinkActive ="active border border-left-0 border-right-0 border-top-0 border-light">
                    <a class="nav-link" style="cursor: pointer" (click)="onLogOut()">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" (click)="showDropdown = !showDropdown">Manage</a>
                     <div class="dropdown-menu" [appDropdown]="showDropdown">
                        <a class="dropdown-item" href="#">Save Data</a>
                        <a class="dropdown-item" href="#">Fetch Data</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>