.activate  {
    color:#b3078be0;
    /* color: white; */
    
}

a {
    color: #cc009c69;
}

a:hover {
    color: #990099;
    text-decoration-line: none;
}

.img-thumbnail {
    border-color: #cc009c69;
}

.card-header{
    background-color: #ffccff;
}

li.activate {
    border-radius: 0;
    border-bottom: 2px solid #990099;
}