a {
    color: #00000088;
}

.dropdown-item:hover {
    background-color: #b3078e94;
    border-radius: 5px;
    text-decoration-line: none;
}

.nav-link.active{
    color:#b3078be0;
    background-color: #b3078e00;
    border-radius: 0;
    border-bottom: 2px solid #990099;
}

.img-thumbnail {
    border-color: #cc009c69;
}

.card-header{
    background-color: #ffccff;
}

.dropdown-menu {
    right: 5%;
    left: auto;
}

.badge-custom {
    background-color: #990099;
    color: white;
}