<div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item" >
          <a class="nav-link" [ngClass]="{'active': selectedNav === 'description'}"  style="cursor: pointer" (click)="setActiveNav('description')">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': selectedNav === 'ingredients'}" style="cursor: pointer" (click)="setActiveNav('ingredients')">Ingredients</a>
        </li>
        <li class="nav-item ml-auto">
            <div class="dropdown">
                <a class="btn btn-link dropdown-toggle" style="cursor: pointer" role="button" (click)='showDropDown = !showDropDown'> Manage </a>
                <div class="dropdown-menu" [appDropdown]="showDropDown" >
                  <a class="dropdown-item" style="cursor: pointer" (click)="onAddToShpingList()">To Shopping List</a>
                  <a class="dropdown-item" style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a>
                  <a class="dropdown-item" style="cursor: pointer">Delete Recipe</a>
                </div>
              </div>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{recipe.name}}</h4>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <ul class="list-group list-group-flush" *ngIf="selectedNav === 'ingredients'">
        <li class="list-group-item d-flex justify-content-between align-items-center"
         *ngFor="let ingredient of recipe.ingredients">
         {{ingredient.name}} 
         <span class="badge badge-custom badge-pill">{{ingredient.amount}}</span>
        </li>
    </ul>
  </div>
  <div class="w-100 d-flex justify-content-between mt-2">
    <div class="w-75 mb-2 mr-3">
        <img [src]="recipe.imgPath" alt="" class="rounded img-thumbnail" width="100%">         
    </div>
    <div class="w-75 mb-2 mr-3">
        <img src="{{recipe.imgPath}}" alt="" class="rounded img-thumbnail" width="100%">         
    </div>
    <div class="w-75 mb-2">
        <img src="{{recipe.imgPath}}" alt="" class="rounded img-thumbnail" width="100%">         
    </div>
</div>

<!-- <div class="d-flex flex-column">
  <div class="w-100 mb-2">
      <img src="http://cdn-image.myrecipes.com/sites/default/files/all-in-one-spaghetti-sl.jpg" alt="" class="rounded img-thumbnail" width="100%" style="max-height: 250px">         
  </div>
  <div class="w-100 d-flex">
      <div class="w-75 mb-2 mr-2">
          <img src="http://cdn-image.myrecipes.com/sites/default/files/all-in-one-spaghetti-sl.jpg" alt="" class="rounded img-thumbnail" width="100%">         
      </div>
      <div class="w-75 mb-2 mr-2">
          <img src="http://cdn-image.myrecipes.com/sites/default/files/all-in-one-spaghetti-sl.jpg" alt="" class="rounded img-thumbnail" width="100%">         
      </div>
      <div class="w-75 mb-2 mr-2">
          <img src="http://cdn-image.myrecipes.com/sites/default/files/all-in-one-spaghetti-sl.jpg" alt="" class="rounded img-thumbnail" width="100%">         
      </div>
  </div>
</div> -->
