<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="headers">Add To Caret</h5>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="shoppingEditForm" (ngSubmit)="onSubmint()">
        <div class="form-row">
          <div class="form-group col-sm-7">
            <input 
             id="_name"
             type="text"
             class="form-control"
             placeholder="Ingredient Name"
             formControlName="name"
            />
            </div>
            <div class="form-group col-sm-4 offset-sm-1">
              <input
               id="_amount"
               type="number"
               class="form-control"
               formControlName="amount"
               placeholder="0"          
              />
            </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <button 
             type="submit"
             class="btn ml-auto"
             [ngClass]="{'btn-outline-primary': !editMode, 'btn-outline-success': editMode}"
             [disabled]="shoppingEditForm.invalid"
            >
             {{(editMode)? 'Edit' : 'Add'}}
            </button>
            <button
             type="button" 
             class="btn btn-outline-danger ml-auto" 
             (click)="onDelete()"
             *ngIf="editMode"
            >
             Delete
            </button>
            <button
             type="button" 
             class="btn btn-outline-secondary ml-auto" 
             (click)="onDiscard()"
             [disabled]="shoppingEditForm.invalid"
            >
             Cancel 
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>